<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-7">
			<div class="card shadow-lg border-0 rounded-lg mt-5">
				<div class="card-header">
					<h3 class="text-center font-weight-light my-4">{{ text_label|default('Equipment Form') }}</h3>
				</div>
				<div class="card-body">
					{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

					<div class="form-floating mb-3">
						<label for="{{ form.name.vars.id }}">Name</label>
						{{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Equipment name'}}) }}

						<div class="form-error-message">
							{{ form_errors(form.name) }}
						</div>
					</div>

					<div class="mb-3">
						<label for="{{ form.state.vars.id }}">State</label>
						{{ form_widget(form.state, {'attr': {'class': 'form-select', 'placeholder': 'State'}}) }}

						<div class="form-error-message">
							{{ form_errors(form.state) }}
						</div>
					</div>

					<div class="form-floating mb-3">
						<label for="{{ form.category.vars.id }}">Category</label>
						{{ form_widget(form.category, {'attr': {'class': 'form-select', 'placeholder': 'Category'}}) }}

						<div class="form-error-message">
							{{ form_errors(form.category) }}
						</div>
					</div>

					<div class="form-floating mb-3">
						<label for="{{ form.quantity.vars.id }}">Quantity</label>
						{{ form_widget(form.quantity, {'attr': {'class': 'form-control', 'placeholder': 'Quantity'}}) }}

						<div class="form-error-message">
							{{ form_errors(form.quantity) }}
						</div>
					</div>

					<div class="form-floating mb-3">
						<label for="{{ form.price.vars.id }}">Price</label>
						{{ form_widget(form.price, {'attr': {'class': 'form-control', 'placeholder': 'Price'}}) }}

						<div class="form-error-message">
							{{ form_errors(form.price) }}
						</div>
					</div>

					<div class="mt-4 mb-0">
						<div class="d-grid">
							<button class="btn btn-primary btn-block">{{ button_label|default('Update') }}</button>
						</div>
					</div>

					{{ form_end(form) }}
				</div>
				<a href="{{ path('app_equipment_index') }}" class="btn btn-primary " style="width:25%; margin-left:37.5%; display:block;">
					Back to list
				</a>
			</div>

		</div>

	</div>
</div>
