
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title> {% block title %}Admin Dashboard {% endblock %}</title>
        {% block css %}
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        {% endblock %}
        
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="index.html">HackForge</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ path('app_user_edit', {'userid': app.user.userid}) }}">Edit Profil</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{{ logout_url() }}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
    <div class="nav">
        <a class="nav-link" href="{{ path('app_user_index') }}">
            <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
            Users
        </a>
        <a class="nav-link" href="bills.html">
            <div class="sb-nav-link-icon"><i class="fas fa-file-invoice-dollar"></i></div>
            Bills
        </a>
        <a class="nav-link" href="catering.html">
            <div class="sb-nav-link-icon"><i class="fas fa-utensils"></i></div>
            Catering
        </a>
        <a class="nav-link" href="equipment.html">
            <div class="sb-nav-link-icon"><i class="fas fa-tools"></i></div>
            Equipment
        </a>
        <a class="nav-link" href="events.html">
            <div class="sb-nav-link-icon"><i class="fas fa-calendar-alt"></i></div>
            Events
        </a>
        <a class="nav-link" href="feedback.html">
            <div class="sb-nav-link-icon"><i class="fas fa-comments"></i></div>
            Feedback
        </a>
        <a class="nav-link" href="{{ path('app_participant_index_back') }}">
            <div class="sb-nav-link-icon"><i class="fas fa-user-friends"></i></div>
            Participant
        </a>
        <a class="nav-link" href="partnerships.html">
            <div class="sb-nav-link-icon"><i class="fas fa-handshake"></i></div>
            Partnerships
        </a>
        <a class="nav-link" href="projectsubmission.html">
            <div class="sb-nav-link-icon"><i class="fas fa-upload"></i></div>
            Project Submission
        </a>
        <a class="nav-link" href="reservation.html">
            <div class="sb-nav-link-icon"><i class="fas fa-calendar-check"></i></div>
            Reservation
        </a>
        <a class="nav-link" href="team.html">
            <div class="sb-nav-link-icon"><i class="fas fa-users-cog"></i></div>
            Team
        </a>
        <a class="nav-link" href="venue.html">
            <div class="sb-nav-link-icon"><i class="fas fa-map-marker-alt"></i></div>
            Venue
        </a>
        <a class="nav-link" href="workshop.html">
            <div class="sb-nav-link-icon"><i class="fas fa-chalkboard-teacher"></i></div>
            Workshop
        </a>
    </div>
</div>

                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as: {{ app.user.username }}</div>
                    </div>
                </nav>
            </div>
            {% block body %}
            {% endblock %}
        </div>
        {% block js %}
        {# CDN scripts #}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>

{# Local scripts using Symfony's asset() #}
        <script src="{{ asset('js/scripts.js') }}"></script>
        <script src="{{ asset('demo/chart-area-demo.js') }}"></script>
        <script src="{{ asset('demo/chart-bar-demo.js') }}"></script>
        <script src="{{ asset('js/datatables-simple-demo.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        {% endblock %}
    </body>
</html>
